<h1 class="text-center">Taleek A1 level</h1>
<div>
  <h2>New words.</h2>
  <table>
    <tr>
      <th>The Word</th>
      <th>Explanation and example</th>
    </tr>
    <tr>
      <td>Itch</td>
      <td>Like, someone itched his hand</td>
    </tr>
    <tr>
      <td>Iguana</td>
      <td>An animal</td>
    </tr>
    <tr>
      <td>Nest</td>
      <td>Birds' home</td>
    </tr>
    <tr>
      <td>Ostrich</td>
      <td>An animal</td>
    </tr>
    <tr>
      <td>Quack</td>
      <td>The sound of ducks</td>
    </tr>
    <tr>
      <td>Turtle</td>
      <td>An animal</td>
    </tr>
    <tr>
      <td>Unicorn</td>
      <td>A fantasy animal</td>
    </tr>
    <tr>
      <td>Vulture</td>
      <td>An animal, also we can describe a person like a vulture = gain from another person's trouble</td>
    </tr>
    <tr>
      <td>Wax</td>
      <td>The material that holds candles</td>
    </tr>
    <tr>
      <td>Bat</td>
      <td>An animal</td>
    </tr>
    <tr>
      <td>Lick</td>
      <td>Pass the tongue over somthing in order to taste, moisten, or clean it.</td>
    </tr>
    <tr>
      <td>Moisten</td>
      <td>Wet slightly</td>
    </tr>
    <tr>
      <td>Blending</td>
      <td>Pushing together the sounds of the letters in the word in order to create the whole word</td>
    </tr>
  </table>
</div>
