h1 {
  text-align: center;
}

.wrapper {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 40%;
    display: flex;
    justify-content: space-between;

    a {
      cursor: pointer;
    }
  }
}
